/tts
.cloud
.vscode
._*

*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
!node_red.json
*.py
!hue.py
!androidtv.py
!custom_updater.py
*.db-shm
*.db-wal
*.html
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
pyozw.sqlite
ip_bans.yaml
.storage
.vscode
node-red
.HA_VERSION
.google.token
!/.gitignore
config
ozw_config
hacs
custom_components/hacs
custom_components/hacs_
www/community
www/community_
__pycache__
facebox/jonas
facebox/julia
facebox/unkown
!facebox/.gitkeep
tmp/
www/camera_snapshots/*.jpg