ifttt_api_key: __secret__
recorder_db_url: mysql://__secret__:__secret__@__secret__:3306/homeassistant?charset=utf8
external_url: https://__secret__.ui.nabu.casa
internal_url: http://__secret__:8123

homeassistant_ip: __secret__

http_password: __secret__

alpha_vantage: __secret__

watson_apikey: __secret__
watson_url: https://stream-fra.watsonplatform.net/speech-to-text/api

vapid_prv_key: __secret__
vapid_pub_key: __secret__
google_cloud_messaging_server_key: __secret__
google_cloud_messaging_sender_id: __secret__
riki_google_password: __secret__

arlo_cloud_username: __secret__
arlo_cloud_password: __secret__

openweathermap_api_key: __secret__

# MQTT Username and Passwords
mqtt_broker: __secret__
mqtt_broker_port: 132
mqtt_homeassistant_username: __secret__
mqtt_homeassistant_password: __secret__
#---------------------------------

#-----------------ESP Home--------

esp_wifi_ssid: __secret__
esp_wifi_password: __secret__
esp_api_password: __secret__

#---------------------------------

#-----------------Home Connect--------

homeconnect_client_id: __secret__
homeconnect_client_secret: __secret__

#---------------------------------

#-----------------Influx DB--------

influxdb_user_password: __secret__

#---------------------------------

unifi_nvr_api: __secret__
unifi_nvr_password: __secret__

nvr_username: __secret__
nvr_password: __secret__
nvr_rtsp_url: rtsp://nvrrtsp:__secret__@__secret__:554/s0
nvr_still_image_url: http://__secret__@__secret__/snap.jpeg


homematic_ip: __secret__
homematic_username: __secret__
homematic_password: __secret__


home_alarm_code: __secret__

shield_static_ip: __secret__

tile_username: __secret__
tile_password: __secret__

github_token: __secret__
google_api_client_id: __secret__
google_api_client_secret: __secret__

google_travel_api_key: __secret__
