ifttt_api_key: **secret**
recorder_db_url: mysql://**secret**:**secret**@**secret**:3306/homeassistant?charset=utf8
external_url: https://**secret**.ui.nabu.casa
internal_url: http://**secret**:8123

homeassistant_ip: **secret**

http_password: **secret**

alpha_vantage: **secret**

watson_apikey:**secret**
watson_url: https://stream-fra.watsonplatform.net/speech-to-text/api

vapid_prv_key: **secret**
vapid_pub_key: **secret**
google_cloud_messaging_server_key: **secret**
google_cloud_messaging_sender_id: **secret**
riki_google_password: **secret**

arlo_cloud_username: **secret**
arlo_cloud_password: **secret**

openweathermap_api_key: **secret**

# MQTT Username and Passwords
mqtt_broker: **secret**
mqtt_broker_port: **secret**
mqtt_homeassistant_username: **secret**
mqtt_homeassistant_password: **secret**
#---------------------------------

#-----------------ESP Home--------

esp_wifi_ssid: **secret**
esp_wifi_password: **secret**
esp_api_password: **secret**

#---------------------------------

#-----------------Home Connect--------

homeconnect_client_id: **secret**
homeconnect_client_secret: **secret**

#---------------------------------

#-----------------Influx DB--------

influxdb_user_password: **secret**

#---------------------------------

unifi_nvr_api: **secret**
unifi_nvr_password: **secret**

nvr_username: **secret**
nvr_password: **secret**
nvr_rtsp_url: rtsp://nvrrtsp:**secret**@**secret**:554/s0
nvr_still_image_url: http://**secret**@**secret**/snap.jpeg


homematic_ip: **secret**
homematic_username: **secret**
homematic_password: **secret**


home_alarm_code: **secret**

shield_static_ip: **secret**

tile_username: **secret**
tile_password: **secret**

github_token: **secret**
google_api_client_id: **secret**
google_api_client_secret: **secret**

google_travel_api_key: **secret**
